.light {
    background-color: #fff;
    /* border: 4px solid #000; */
}

.dark {
    background-color: #000;
    color: #fff;
}

.link {
    color: yellow;
}

.link-active {
    text-decoration: none;
    color: yellow;
    text-decoration: none;
}

.nav__list {
    margin-top: 10px;
}